version: "3.8"

services:
  mystream-db:
    image: postgres:15
    container_name: mystream-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: mystream
      POSTGRES_PASSWORD: mystream
      POSTGRES_DB: mystream
    ports:
      - "5432:5432"
    volumes:
      - mystream_pgdata:/var/lib/postgresql/data

  mystream-srs:
    image: ossrs/srs:5
    container_name: mystream-srs
    restart: unless-stopped
    ports:
      - "1935:1935"         # RTMP (nếu bạn cần OBS)
      - "1985:1985"         # HTTP API + WHIP/WHEP endpoint       
      - "8000:8000/udp"     # WebRTC UDP
    volumes:
      - ./srs/srs.conf:/usr/local/srs/conf/srs.conf:ro

volumes:
  mystream_pgdata:
