services:
  db:
    image: postgres:17
    container_name: mystream-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: mystream
      POSTGRES_PASSWORD: mystream
      POSTGRES_DB: mystream
    ports:
      - "5432:5432"
    volumes:
      - mystream-db-data:/var/lib/postgresql/data

  srs:
    image: ossrs/srs:latest
    container_name: srs
    restart: unless-stopped
    ports:
      - "1935:1935"
      - "1985:1985"
      - "8000:8000/udp"
      - "8081:8080"
    volumes:
      - ./srs/srs.conf:/usr/local/srs/conf/srs.conf

volumes:
  mystream-db-data:
