version: "3.8"

services:
  mystream-db:
    image: postgres:15
    container_name: mystream-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: mystream
      POSTGRES_PASSWORD: mystream
      POSTGRES_DB: mystream
    ports:
      - "5432:5432"
    volumes:
      - mystream_pgdata:/var/lib/postgresql/data

  mystream-srs:
    image: ossrs/srs:5
    container_name: mystream-srs
    restart: unless-stopped
    environment:
      # Ép candidate về loopback để tránh DTLS_HANG khi chạy Docker (cùng máy)
      SRS_RTC_SERVER_CANDIDATE: "127.0.0.1"
    ports:
      - "1935:1935"
      - "1985:1985"
      - "8000:8000/udp"
    volumes:
      - ./srs/srs.conf:/usr/local/srs/conf/srs.conf:ro

volumes:
  mystream_pgdata:
